Repository joasimonson/CopaFilmes: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default: off
      front-ent:
        target: auto
        flags: front-end
      back-end:
        target: auto
        flags: back-end

flags:
  front-end:
    paths:
      - web/
  back-end:
    paths:
      - server/

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

correção de stylelint
  web/.eslintrc.json
  web/.prettierrc.json
  web/.stylelintignore
  web/.stylelintrc.json
  web/.vscode/settings.json
  web/package.json
  web/src/assets/styles/global.css
  web/src/components/PageHeader/styles.css
  web/src/pages/Resultado/CardPosicao/styles.css
  web/src/pages/Resultado/styles.css
  web/src/pages/SelecaoFilmes/CardFilme/styles.css
  web/src/pages/SelecaoFilmes/styles.css
  web/tsconfig.json
Due: front-end

remoção de packages inutilizados
  web/.vscode/settings.json
  web/package.json
Due: front-end

remoção de packages inutilizados
  web/package-lock.json
  web/package.json
Due: front-end

implementação de ordenação de propriedades css (postcss)
  web/.stylelintrc.json
  web/package-lock.json
  web/package.json
  web/src/assets/styles/global.css
  web/src/components/PageHeader/styles.css
  web/src/pages/Resultado/CardPosicao/styles.css
  web/src/pages/Resultado/styles.css
  web/src/pages/SelecaoFilmes/CardFilme/styles.css
  web/src/pages/SelecaoFilmes/styles.css
Due: front-end

configuração de imports eslint
  web/.eslintrc.json
  web/package-lock.json
  web/package.json
  web/src/index.tsx
  web/src/pages/Resultado/CardPosicao/index.test.tsx
  web/src/pages/Resultado/index.test.tsx
  web/src/pages/Resultado/index.tsx
  web/src/pages/SelecaoFilmes/CardFilme/index.test.tsx
  web/src/pages/SelecaoFilmes/index.test.tsx
  web/src/pages/SelecaoFilmes/index.tsx
  web/src/routes.tsx
  web/src/services/api.ts
  web/src/stores/store.ts
  web/src/tests/custom-render.tsx
Due: front-end

configuração de hooks husky para validar lint e testes
  .github/workflows/server.yml
  .github/workflows/web.yml
  web/.eslintignore
  web/.husky/pre-commit
  web/.husky/pre-push
  web/.lintstagedrc.json
  web/.prettierignore
  web/.stylelintignore
  web/package-lock.json
  web/package.json
Due: front-end

Configuração de hooks husky para validar lint e testes (#226)
  .github/workflows/server.yml
  .github/workflows/web.yml
  web/.eslintignore
  web/.husky/pre-commit
  web/.husky/pre-push
  web/.lintstagedrc.json
  web/.prettierignore
  web/.stylelintignore
  web/package-lock.json
  web/package.json
Due: front-end

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

correção de trigger
  .github/workflows/codeql-analysis.yml
Due: none

codeql badge
  README.md
Due: none

Implementação de codeql (#227)
  .github/workflows/codeql-analysis.yml
  README.md
Due: none

implementação de analyser e code-splitting
  web/analyse.js
  web/package-lock.json
  web/package.json
  web/src/routes.tsx
Due: front-end

Implementação de analyser e code-splitting (#231)
  web/analyse.js
  web/package-lock.json
  web/package.json
  web/src/routes.tsx
Due: front-end

Organização de itens de import e redução de tabs
  web/.eslintrc.json
  web/.prettierrc.json
  web/analyse.js
  web/jest.config.js
  web/src/App.tsx
  web/src/components/LoadingDefault/index.test.tsx
  web/src/components/LoadingDefault/index.tsx
  web/src/components/PageHeader/index.test.tsx
  web/src/components/PageHeader/index.tsx
  web/src/config.ts
  web/src/index.tsx
  web/src/pages/Resultado/CardPosicao/index.test.tsx
  web/src/pages/Resultado/CardPosicao/index.tsx
  web/src/pages/Resultado/index.test.tsx
  web/src/pages/Resultado/index.tsx
  web/src/pages/SelecaoFilmes/CardFilme/index.test.tsx
  web/src/pages/SelecaoFilmes/CardFilme/index.tsx
  web/src/pages/SelecaoFilmes/index.test.tsx
  web/src/pages/SelecaoFilmes/index.tsx
  web/src/routes.tsx
  web/src/services/FilmeService.ts
  web/src/services/api.ts
  web/src/stores/store.ts
  web/src/tests/custom-render.tsx
  web/src/tests/mocks/filmes.ts
  web/src/tests/mocks/index.ts
  web/src/types/model.ts
Due: front-end

renomeando projetos
  server/CopaFilmes.sln
  server/tests/CopaFilmes.Tests.Common/Builders/ChaveCampeonatoBuilder.cs
  server/tests/CopaFilmes.Tests.Common/Builders/ChaveClassificacaoBuilder.cs
  server/tests/CopaFilmes.Tests.Common/Builders/ChaveEtapaBuilder.cs
  server/tests/CopaFilmes.Tests.Common/Builders/FilmeModelFaker.cs
  server/tests/CopaFilmes.Tests.Common/Builders/PartidaBuilder.cs
  server/tests/CopaFilmes.Tests.Common/Builders/UtilFaker.cs
  server/tests/CopaFilmes.Tests.Common/CopaFilmes.Tests.Common.csproj
  server/tests/CopaFilmes.Tests.Common/Util/ConfigManager.cs
  server/tests/CopaFilmes.Tests.Common/Util/Extensions.cs
  server/tests/CopaFilmes.Tests.Common/appsettings.common.json
  server/tests/CopaFilmes.Tests.Integration/ConfigRunTests.cs
  server/tests/CopaFilmes.Tests.Integration/CopaFilmes.Tests.Integration.csproj
  server/tests/CopaFilmes.Tests.Integration/Fixtures/ApiTestCollection.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/ApiTokenFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/BaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/CampeonatoControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/FilmeControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/LoginControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/appsettings.json
  server/tests/CopaFilmes.Tests.Unit/BaseTests.cs
  server/tests/CopaFilmes.Tests.Unit/CopaFilmes.Tests.Unit.csproj
  server/tests/CopaFilmes.Tests.Unit/Dominio/Campeonato/ChaveCampeonatoTests.cs
  server/tests/CopaFilmes.Tests.Unit/Dominio/Campeonato/ChaveClassificacaoTests.cs
  server/tests/CopaFilmes.Tests.Unit/Dominio/Campeonato/ChaveEtapaTests.cs
  server/tests/CopaFilmes.Tests.Unit/Dominio/Campeonato/PartidaTests.cs
  server/tests/CopaFilmes.Tests.Unit/Dominio/CampeonatoDominioTests.cs
  server/tests/CopaFilmes.Tests.Unit/Dominio/FilmeDominioTests.cs
  server/tests/CopaFilmes.Tests.Unit/Util/TokenManagerTests.cs
Due: back-end

renomeando namespaces
  server/src/CopaFilmes.Api/Dominio/Campeonato/ChaveClassificacao.cs
  server/src/CopaFilmes.Api/Dominio/Campeonato/ChaveEtapa.cs
  server/src/CopaFilmes.Api/Dominio/Campeonato/Partida.cs
  server/tests/CopaFilmes.Tests.Common/Builders/ChaveCampeonatoBuilder.cs
  server/tests/CopaFilmes.Tests.Common/Builders/ChaveClassificacaoBuilder.cs
  server/tests/CopaFilmes.Tests.Common/Builders/ChaveEtapaBuilder.cs
  server/tests/CopaFilmes.Tests.Common/Builders/FilmeModelFaker.cs
  server/tests/CopaFilmes.Tests.Common/Builders/PartidaBuilder.cs
  server/tests/CopaFilmes.Tests.Common/Builders/UtilFaker.cs
  server/tests/CopaFilmes.Tests.Common/Util/ConfigManager.cs
  server/tests/CopaFilmes.Tests.Common/Util/Extensions.cs
  server/tests/CopaFilmes.Tests.Integration/ConfigRunTests.cs
  server/tests/CopaFilmes.Tests.Integration/CopaFilmes.Tests.Integration.csproj
  server/tests/CopaFilmes.Tests.Integration/Fixtures/ApiTestCollection.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/ApiTokenFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/BaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/CampeonatoControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/FilmeControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/LoginControllerTests.cs
  server/tests/CopaFilmes.Tests.Unit/BaseTests.cs
  server/tests/CopaFilmes.Tests.Unit/CopaFilmes.Tests.Unit.csproj
  server/tests/CopaFilmes.Tests.Unit/Dominio/Campeonato/ChaveCampeonatoTests.cs
  server/tests/CopaFilmes.Tests.Unit/Dominio/Campeonato/ChaveClassificacaoTests.cs
  server/tests/CopaFilmes.Tests.Unit/Dominio/Campeonato/ChaveEtapaTests.cs
  server/tests/CopaFilmes.Tests.Unit/Dominio/Campeonato/PartidaTests.cs
  server/tests/CopaFilmes.Tests.Unit/Dominio/CampeonatoDominioTests.cs
  server/tests/CopaFilmes.Tests.Unit/Dominio/FilmeDominioTests.cs
  server/tests/CopaFilmes.Tests.Unit/Util/TokenManagerTests.cs
Due: back-end

fix: upgrade react-router-dom from 5.2.0 to 5.2.1
  web/package-lock.json
  web/package.json
Due: front-end

criptografia de senha do usuário
  server/src/CopaFilmes.Api/Dominio/Usuario/UsuarioDominio.cs
  server/src/CopaFilmes.Api/Util/SegurancaCommon.cs
  server/tests/CopaFilmes.Tests.Unit/Util/SegurancaCommonTests.cs
Due: back-end

testes de integração da inclusão de usuários, melhoria e centralização da infraestrutura de testes, implementação de banco de dados em testes, migrations, respawn
  server/src/CopaFilmes.Api/Contexts/ApiContext.cs
  server/src/CopaFilmes.Api/CopaFilmes.Api.csproj
  server/src/CopaFilmes.Api/Dominio/Usuario/UsuarioEntity.cs
  server/src/CopaFilmes.Api/Migrations/20210919043133_initial.Designer.cs
  server/src/CopaFilmes.Api/Migrations/20210919043133_initial.cs
  server/src/CopaFilmes.Api/Startup.cs
  server/src/CopaFilmes.Api/StartupConfigure/DatabaseStartup.cs
  server/src/CopaFilmes.Api/Util/SegurancaCommon.cs
  server/tests/CopaFilmes.Tests.Integration/ConfigRunTests.cs
  server/tests/CopaFilmes.Tests.Integration/CopaFilmes.Tests.Integration.csproj
  server/tests/CopaFilmes.Tests.Integration/EnvironmentsExtensions.cs
  server/tests/CopaFilmes.Tests.Integration/Extensions/AssertExtensions.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/ApiFilmesFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/ApiFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/ApiTestCollection.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/BaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/DatabaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/MiddlewareFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/CampeonatoControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/ExceptionMiddlewareTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/FilmeControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/LoginControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/UsuarioControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/appsettings.Test.json
  server/tests/CopaFilmes.Tests.Unit/Util/SegurancaCommonTests.cs
Due: back-end

implementação de disposes e padronização de nomenclaturas
  server/tests/CopaFilmes.Tests.Integration/Fixtures/ApiFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/BaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/DatabaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/MiddlewareFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/CampeonatoControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/FilmeControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/LoginControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/UsuarioControllerTests.cs
Due: back-end

implementação de docker dotnet, centralização de config dos testes de integração
  server/src/CopaFilmes.Api/Util/DatabaseCommon.cs
  server/tests/CopaFilmes.Tests.Common/Util/ConfigManager.cs
  server/tests/CopaFilmes.Tests.Common/Util/ReflectionHelper.cs
  server/tests/CopaFilmes.Tests.Integration/ConfigManagerIntegration.cs
  server/tests/CopaFilmes.Tests.Integration/CopaFilmes.Tests.Integration.csproj
  server/tests/CopaFilmes.Tests.Integration/EnvironmentsExtensions.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/ApiFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/ApiTestCollection.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/BaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/DatabaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/MiddlewareFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/PostgresContainerFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/CampeonatoControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/FilmeControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/LoginControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/UsuarioControllerTests.cs
  server/tests/CopaFilmes.Tests.Unit/Util/DatabaseCommonTests.cs
Due: back-end

fix: upgrade react-router-dom from 5.2.0 to 5.3.0
  web/package-lock.json
  web/package.json
Due: front-end

extensão de xunit para resolver dependência entre fixtures
  server/.gitignore
  server/src/CopaFilmes.Api/CopaFilmes.Api.csproj
  server/tests/CopaFilmes.Tests.Integration/CopaFilmes.Tests.Integration.csproj
  server/tests/CopaFilmes.Tests.Integration/Fixtures/ApiFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/BaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/DatabaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/CampeonatoControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/FilmeControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/LoginControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/Specs/UsuarioControllerTests.cs
  server/tests/CopaFilmes.Tests.Integration/XunitExtensions/XunitTestAssemblyRunnerDependencyFixture.cs
  server/tests/CopaFilmes.Tests.Integration/XunitExtensions/XunitTestCollectionRunnerDependencyFixture.cs
  server/tests/CopaFilmes.Tests.Integration/XunitExtensions/XunitTestFrameworkDependencyFixture.cs
  server/tests/CopaFilmes.Tests.Integration/XunitExtensions/XunitTestFrameworkExecutorDependencyFixture.cs
  web/.husky/pre-commit
  web/.husky/pre-push
Due: front-end, back-end

correção code smells
  server/src/CopaFilmes.Api/Dominio/Usuario/UsuarioDominio.cs
  server/src/CopaFilmes.Api/Middlewares/Exceptions/ExceptionMiddleware.cs
  server/src/CopaFilmes.Api/Middlewares/Exceptions/ProduceResponseTypeModelProvider.cs
  server/tests/CopaFilmes.Tests.Common/Util/ReflectionHelper.cs
  server/tests/CopaFilmes.Tests.Integration/EnvironmentsExtensions.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/ApiFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/BaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/DatabaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/PostgresContainerFixture.cs
  server/tests/CopaFilmes.Tests.Integration/XunitExtensions/XunitTestCollectionRunnerDependencyFixture.cs
  server/tests/CopaFilmes.Tests.Unit/Servicos/UsuarioServicoTests.cs
  server/tests/CopaFilmes.Tests.Unit/Util/DatabaseCommonTests.cs
Due: back-end

correção code smells
  server/src/CopaFilmes.Api/Util/SegurancaCommon.cs
  server/tests/CopaFilmes.Tests.Integration/EnvironmentsExtensions.cs
  server/tests/CopaFilmes.Tests.Unit/Util/SegurancaCommonTests.cs
Due: back-end

correção code smells
  server/src/CopaFilmes.Api/Dominio/Campeonato/ChaveCampeonato.cs
Due: back-end

correção code smells
  server/tests/CopaFilmes.Tests.Common/Builders/UtilFaker.cs
Due: back-end

health check de banco de dados e ef delay em fixture para inicialização correta de container docker
  server/src/CopaFilmes.Api/Contexts/ApiContext.cs
  server/src/CopaFilmes.Api/CopaFilmes.Api.csproj
  server/src/CopaFilmes.Api/Startup.cs
  server/src/CopaFilmes.Api/StartupConfigure/DatabaseStartup.cs
  server/src/CopaFilmes.Api/appsettings.json
  server/tests/CopaFilmes.Tests.Integration/Fixtures/BaseFixture.cs
  server/tests/CopaFilmes.Tests.Integration/Fixtures/PostgresContainerFixture.cs
Due: back-end

correção vulnerabilidade
  server/src/CopaFilmes.Api/CopaFilmes.Api.csproj
  server/src/CopaFilmes.Api/Startup.cs
Due: back-end

fix: upgrade react-bootstrap from 1.6.1 to 1.6.3
  web/package-lock.json
  web/package.json
Due: front-end

fix: upgrade axios from 0.21.4 to 0.22.0
  web/package-lock.json
  web/package.json
Due: front-end

fix: upgrade axios from 0.21.4 to 0.23.0
  web/package-lock.json
  web/package.json
Due: front-end

fix: upgrade axios from 0.21.4 to 0.24.0
  web/package-lock.json
  web/package.json
Due: front-end

fix: upgrade bootstrap from 4.6.0 to 4.6.1
  web/package-lock.json
  web/package.json
Due: front-end

fix: web/package.json & web/package-lock.json to reduce vulnerabilities
  web/package-lock.json
  web/package.json
Due: front-end
