Repository joasimonson/CopaFilmes: changes, and which Codecov flags are due for each by the changed paths.
All: front-end, back-end

envio de relatório para codecov
  .github/workflows/web.yml
Due: none

badge codecov para front e back
  README.md
Due: none

configuração sonar para front e badges
  .github/workflows/server.yml
  .github/workflows/web.yml
  README.md
Due: none

configuração sonar
  .github/workflows/web.yml
Due: none

correção code smell
  web/src/config.ts
  web/src/pages/Resultado/index.tsx
  web/src/pages/SelecaoFilmes/index.tsx
  web/src/services/api.ts
Due: front-end

correção code smell
  web/src/services/api.ts
Due: front-end

configuração sonar
  .github/workflows/web.yml
  web/package.json
Due: front-end

organização de badges
  .github/workflows/web.yml
  README.md
Due: none

organização de badges
  README.md
Due: none

fix: web/package.json & web/package-lock.json to reduce vulnerabilities
  web/package-lock.json
  web/package.json
Due: front-end

tratativa para execução com coverage
  web/jest.config.js
  web/src/pages/Resultado/index.test.tsx
  web/src/pages/Resultado/index.tsx
Due: front-end

correção sonar
  .github/workflows/web.yml
Due: none

correção code smell
  web/src/pages/Resultado/index.test.tsx
Due: front-end

Configuração de code coverage no front-end (#210)
  .github/workflows/server.yml
  .github/workflows/web.yml
  README.md
  codecov.yml
  web/jest.config.js
  web/package-lock.json
  web/package.json
  web/src/config.ts
  web/src/pages/Resultado/index.test.tsx
  web/src/pages/Resultado/index.tsx
  web/src/pages/SelecaoFilmes/index.test.tsx
  web/src/pages/SelecaoFilmes/index.tsx
  web/src/routes.tsx
  web/src/services/api.ts
  web/src/setupTests.ts
Due: front-end

task de cache em pipelines
  .github/workflows/server.yml
  .github/workflows/web.yml
Due: none

alteração de periodicidade dependabot
  .github/dependabot.yml
Due: none

atualização de pacotes para teste de cache
  server/src/CopaFilmes.Api/CopaFilmes.Api.csproj
  server/tests/CopaFilmes.Api.Test.Integration/CopaFilmes.Api.Test.Integration.csproj
  server/tests/CopaFilmes.Api.Test.Unit/CopaFilmes.Api.Test.Unit.csproj
  web/package-lock.json
  web/package.json
Due: front-end, back-end

Implementação de cache em pipelines (#222)
  .github/dependabot.yml
  .github/workflows/server.yml
  .github/workflows/web.yml
  server/src/CopaFilmes.Api/CopaFilmes.Api.csproj
  server/tests/CopaFilmes.Api.Test.Integration/CopaFilmes.Api.Test.Integration.csproj
  server/tests/CopaFilmes.Api.Test.Unit/CopaFilmes.Api.Test.Unit.csproj
  web/package-lock.json
  web/package.json
Due: front-end, back-end

implementação de linter e prettier
  .github/workflows/web.yml
  web/.eslintignore
  web/.eslintrc.js
  web/.prettierignore
  web/.prettierrc.json
  web/.vscode/settings.json
  web/package-lock.json
  web/package.json
  web/src/App.tsx
  web/src/components/LoadingDefault/index.test.tsx
  web/src/components/LoadingDefault/index.tsx
  web/src/components/PageHeader/index.test.tsx
  web/src/components/PageHeader/index.tsx
  web/src/config.ts
  web/src/index.tsx
  web/src/pages/Resultado/CardPosicao/index.test.tsx
  web/src/pages/Resultado/CardPosicao/index.tsx
  web/src/pages/Resultado/index.test.tsx
  web/src/pages/Resultado/index.tsx
  web/src/pages/SelecaoFilmes/CardFilme/index.test.tsx
  web/src/pages/SelecaoFilmes/CardFilme/index.tsx
  web/src/pages/SelecaoFilmes/index.test.tsx
  web/src/pages/SelecaoFilmes/index.tsx
  web/src/routes.tsx
  web/src/services/FilmeService.ts
  web/src/services/api.ts
  web/src/setupTests.ts
  web/src/stores/store.ts
  web/src/tests/FilmesMock.ts
  web/src/tests/custom-render.tsx
  web/src/types/model.ts
Due: front-end

configuração de stylelint
  web/.eslintrc.js
  web/.prettierrc.json
  web/.stylelintignore
  web/.stylelintrc.json
  web/.vscode/settings.json
  web/package-lock.json
  web/package.json
  web/src/assets/styles/global.css
  web/src/components/LoadingDefault/index.tsx
  web/src/components/PageHeader/styles.css
  web/src/pages/Resultado/CardPosicao/styles.css
  web/src/pages/Resultado/styles.css
  web/src/pages/SelecaoFilmes/CardFilme/styles.css
  web/src/pages/SelecaoFilmes/styles.css
Due: front-end

correção de code smells para execução de build
  web/.eslintrc.js
  web/.eslintrc.json
  web/package-lock.json
  web/package.json
  web/src/pages/Resultado/index.test.tsx
  web/src/pages/Resultado/index.tsx
  web/src/pages/SelecaoFilmes/index.tsx
  web/src/services/FilmeService.ts
  web/src/services/api.ts
  web/src/stores/store.ts
Due: front-end

correção de tipagem de métodos
  web/src/services/FilmeService.ts
  web/src/types/model.ts
Due: front-end

correção de tipagem de métodos
  web/src/pages/SelecaoFilmes/index.tsx
Due: front-end

correção de code smells
  web/src/components/LoadingDefault/index.tsx
  web/src/pages/Resultado/index.test.tsx
  web/src/pages/SelecaoFilmes/index.test.tsx
  web/src/tests/mocks/filmes.ts
  web/src/tests/mocks/index.ts
Due: front-end

lint para arquivos json e correção de análise
  web/.eslintignore
  web/.eslintrc.json
  web/.prettierignore
  web/.stylelintignore
  web/jest.config.js
  web/package-lock.json
  web/package.json
Due: front-end

Path conditions:
  front-end: any of: web/
  back-end: any of: server/
